@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px grey;
}
nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}

nav #toggle, nav label {
  display: none;
}

body {
  background-color: #171717;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  padding: 1.9375rem;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2.75rem;
  padding: 1.7rem;
}

h3 {
  color: white;
  text-align: center;
  font-size: 2.3rem;
}

h4 {
  color: white;
  text-align: center;
  font-size: 1.9rem;
  padding: 2.9 rem 15px;
}

h5 {
  color: white;
  padding: 1.25rem;
}

h6 {
  color: white;
}

p {
  color: white;
  padding: 0.9375rem;
}

.divImagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.estoCba {
  font-size: 40px;
  text-align: center;
}

.bodyIndex {
  color: #8E806A;
}

.h4Ubicada {
  text-align: center;
  padding-top: 15px;
}

.seccionDospaginapr {
  background-color: #171717;
  padding-bottom: 1.25rem;
}
.seccionDospaginapr .eligeAmbiente {
  padding-top: 20px;
}

.seccionTrespaginapr {
  padding: 10px;
  background: rgb(23, 23, 23);
  background: linear-gradient(180deg, rgb(23, 23, 23) 26%, rgb(142, 128, 106) 75%);
}
.seccionTrespaginapr .divImagen2 {
  padding-top: 20px;
  width: 650px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}
.seccionTrespaginapr .divUrbanizacion {
  font-size: 60px;
  text-align: center;
}
.seccionTrespaginapr .comentH5 {
  font-size: 33px;
  text-align: center;
  margin: 1.875rem;
}
.seccionTrespaginapr .imagenNaturaleza1 {
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}
.seccionTrespaginapr .divNaturaleza {
  font-size: 60px;
  text-align: center;
}
.seccionTrespaginapr .comentNaturaleza {
  font-size: 34px;
  text-align: center;
  padding-bottom: 150px;
  margin: 1.875rem;
}

.acercaNstr {
  text-align: center;
  font-size: 30px;
}

.sectionUnopaginatre {
  border-bottom: #171717 solid 50px;
}
.sectionUnopaginatre .urbanoDos {
  font-size: 76px;
  padding-top: 100px;
}
.sectionUnopaginatre .comentUrbano2 {
  font-size: 36px;
}

.sectionDospaginatre {
  border-bottom: #171717 solid 50px;
}
.sectionDospaginatre .paseoDelbp {
  font-size: 60px;
  padding-top: 80px;
}
.sectionDospaginatre .breveComentpaseodelbp {
  padding-top: 10px;
}

.sectionTrespaginatre {
  border-bottom: #171717 solid 50px;
}
.sectionTrespaginatre .patioOlmos {
  font-size: 60px;
  padding-top: 80px;
}
.sectionTrespaginatre .breveComentpatioolmos {
  padding-top: 10px;
}

.sectionUnopaginaseg {
  border-bottom: #171717 solid 40px;
}
.sectionUnopaginaseg .naturalezaDos {
  font-size: 80px;
}
.sectionUnopaginaseg .aquiVan {
  font-size: 40px;
}

.sectionDospaginaseg {
  border-bottom: #171717 solid 40px;
}
.sectionDospaginaseg .lasSierras {
  font-size: 64px;
  padding-top: 320px;
}
.sectionDospaginaseg .breveComentsierras {
  padding-top: 10px;
}

.sectionTrespaginaseg .losRios {
  font-size: 64px;
  padding-top: 320px;
}
.sectionTrespaginaseg .breveComentrios {
  padding-top: 10px;
}

.sectionUnopaginacuat {
  border-bottom: #171717 solid 50px;
}
.sectionUnopaginacuat .sierrasH3 {
  font-size: 60px;
  padding-top: 30px;
}

.sectionDospaginacuat {
  border-bottom: #171717 solid 50px;
}
.sectionDospaginacuat .acercaDe {
  font-size: 40px;
  text-align: center;
}
.sectionDospaginacuat .articuloUnopag4 .h5Qson {
  font-size: 30px;
  text-align: center;
}
.sectionDospaginacuat .articuloUnopag4 .comentarioH5 {
  font-size: 20px;
  text-align: center;
}
.sectionDospaginacuat .articuloDospagina4 .h5Qofrecen {
  font-size: 30px;
  text-align: center;
}
.sectionDospaginacuat .articuloDospagina4 .comentarioQofrecen {
  font-size: 20px;
  text-align: center;
}
.sectionDospaginacuat .articuloTrespag4 .h5Adonde {
  font-size: 30px;
  text-align: center;
}
.sectionDospaginacuat .articuloTrespag4 .comentarioAdonde {
  font-size: 20px;
  text-align: center;
}

.sectionTrespaginacuat .h4Servicios {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.sectionTrespaginacuat .articuloCuatropag4 .h5Hoteleria {
  font-size: 34px;
  text-align: center;
}
.sectionTrespaginacuat .articuloCuatropag4 .h6Hoteleria {
  font-size: 19px;
  text-align: center;
}
.sectionTrespaginacuat .articuloCuatropag4 .comentarioH5hoteleria {
  font-size: 24px;
  text-align: center;
}
.sectionTrespaginacuat .articuloCincopag4 .h5Gastronomia {
  font-size: 34px;
  text-align: center;
}
.sectionTrespaginacuat .articuloCincopag4 .h6Gastronomia {
  font-size: 19px;
  text-align: center;
}
.sectionTrespaginacuat .articuloCincopag4 .comentarioH5gastronomia {
  font-size: 24px;
  text-align: center;
}
.sectionTrespaginacuat .articuloSeispag4 .h5Transporte {
  font-size: 34px;
  text-align: center;
}
.sectionTrespaginacuat .articuloSeispag4 .h6Transporte {
  font-size: 19px;
  text-align: center;
}
.sectionTrespaginacuat .articuloSeispag4 .comentarioH5transporte {
  font-size: 24px;
  text-align: center;
}

.sectionUnopaginacinc {
  border-bottom: #171717 solid 50px;
}
.sectionUnopaginacinc .h3Paseodelbp {
  font-size: 60px;
}

.sectionDospaginacinc {
  border-bottom: #171717 solid 50px;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}
.sectionDospaginacinc .gridInfo .h4Info {
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}
.sectionDospaginacinc .gridQson {
  grid-column: 1;
  grid-row: 2;
}
.sectionDospaginacinc .gridQson .h5Qes {
  font-size: 40px;
  text-align: center;
}
.sectionDospaginacinc .gridQson .comentH5qes {
  font-size: 20px;
  text-align: center;
}
.sectionDospaginacinc .gridQofrece {
  grid-column: 3;
  grid-row: 2;
}
.sectionDospaginacinc .gridQofrece .h5Qofrece {
  font-size: 40px;
  text-align: center;
}
.sectionDospaginacinc .gridQofrece .comentH5qofrece {
  font-size: 20px;
  text-align: center;
}
.sectionDospaginacinc .gridQvisitar {
  grid-column: 2;
  grid-row: 2;
}
.sectionDospaginacinc .gridQvisitar .h5Qlugares {
  font-size: 40px;
  text-align: center;
}
.sectionDospaginacinc .gridQvisitar .comentH5qlugares {
  font-size: 20px;
  text-align: center;
}

.sectionTrespaginacinc .h4Historia {
  font-size: 40px;
  text-align: center;
}
.sectionTrespaginacinc .comentH4historia {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 40.625em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .divImagen2 {
    margin: auto;
    border: 0px;
  }
  .h4Ubicada {
    font-size: 23px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .h4Ubicada {
    padding-top: 10px;
  }
  main .sectionTrespaginaseg .losRios {
    padding-top: 300px;
  }
  main .sectionTrespaginaseg .lasSierras {
    padding-top: 300px;
  }
}
@media screen and (max-width: 835px) {
  main .sectionDospaginacinc {
    display: block;
  }
  main .sectionDospaginacinc .gridInfo .h4Info {
    font-size: 40px;
    padding-top: 5px;
  }
  main .sectionDospaginacinc .gridQson .h5Qes {
    font-size: 32px;
  }
  main .sectionDospaginacinc .gridQson .comentH5qes {
    font-size: 16px;
  }
  main .sectionDospaginacinc .gridQofrece .h5Qofrece {
    font-size: 32px;
  }
  main .sectionDospaginacinc .gridQofrece .comentH5qofrece {
    font-size: 16px;
  }
  main .sectionDospaginacinc .gridQvisitar .h5Qlugares {
    font-size: 32px;
  }
  main .sectionDospaginacinc .gridQvisitar .comentH5qlugares {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .divImagen2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: none;
  }
  .imagenNaturaleza1 {
    width: 500px;
    height: 450px;
  }
  main .sectionUnopaginaseg .naturalezaDos {
    font-size: 72px;
  }
  main .sectionUnopaginaseg .aquiVan {
    font-size: 36px;
  }
  main .sectionDospaginaseg .lasSierras {
    font-size: 58px;
    padding-top: 280px;
  }
  main .sectionTrespaginaseg .losRios {
    font-size: 58px;
    padding-top: 280px;
  }
}
@media screen and (max-width: 700px) {
  .divImagen2 {
    max-width: 100%;
    height: 300px;
    margin: auto;
  }
  .imagenNaturaleza1 {
    max-width: 100%;
    height: 300px;
    margin: auto;
  }
  .divUrbanizacion {
    font-size: 40px;
  }
  main .sectionTrespaginacinc .h4Historia {
    font-size: 32px;
  }
  main .sectionTrespaginacinc .comentH4historia {
    font-size: 18px;
  }
}
@media screen and (max-width: 602px) {
  main .sectionUnopaginaseg .naturalezaDos {
    font-size: 64px;
  }
  main .sectionUnopaginaseg .aquiVan {
    font-size: 32px;
  }
  main .sectionDospaginaseg .lasSierras {
    font-size: 50px;
    padding-top: 250px;
  }
  main .sectionDospaginaseg .breveComentsierras {
    font-size: 25px;
  }
  main .sectionTrespaginaseg .losRios {
    font-size: 50px;
    padding-top: 250px;
  }
  main .sectionTrespaginaseg .breveComentrios {
    font-size: 25px;
  }
  main .sectionUnopaginatre .urbanoDos {
    font-size: 68px;
  }
  main .sectionUnopaginatre .comentUrbano2 {
    font-size: 30px;
  }
  main .sectionDospaginatre .paseoDelbp {
    font-size: 52px;
    padding-top: 48px;
  }
  main .sectionDospaginatre .breveComentpaseodelbp {
    font-size: 28px;
  }
  main .sectionTrespaginatre .patioOlmos {
    font-size: 52px;
    padding-top: 52px;
  }
  main .sectionTrespaginatre .breveComentpatioolmos {
    font-size: 28px;
  }
  main .sectionUnopaginacuat .sierrasH3 {
    font-size: 56px;
  }
  main .sectionUnopaginacinc .h3Paseodelbp {
    font-size: 50px;
  }
}
@media screen and (max-width: 505px) {
  main .sectionUnopaginacinc .h3Paseodelbp {
    font-size: 48px;
    justify-content: center;
    align-items: center;
  }
  main .sectionTrespaginacinc .h4Historia {
    font-size: 35px;
  }
  main .sectionTrespaginacinc .comentH4historia {
    font-size: 14px;
  }
}
@media screen and (max-width: 483px) {
  main .sectionUnopaginacinc .h3Paseodelbp {
    font-size: 40px;
  }
}
@media screen and (max-width: 470px) {
  .imagenNaturaleza1 {
    width: 400px;
    height: 380px;
  }
  .divImagen2 {
    padding-left: 0;
    padding-right: 0;
    width: 150px;
    height: 200px;
  }
  .divUrbanizacion {
    font-size: 35px;
  }
  .comentH5 {
    font-size: 30px;
  }
  .divNaturaleza {
    font-size: 35px;
  }
  .comentNaturaleza {
    font-size: 30px;
  }
  main .sectionUnopaginacuat .sierrasH3 {
    font-size: 52px;
  }
  main .sectionUnospaginaseg .naturalezaDos {
    font-size: 54px;
  }
  main .sectionUnospaginaseg .aquiVan {
    font-size: 30px;
  }
}
@media screen and (max-width: 460px) {
  nav a {
    display: block;
    margin-bottom: 10px;
  }
  a {
    font-size: 12px;
  }
  header {
    text-align: center;
  }
  .paseoDelbp {
    font-size: 50px;
  }
  .patioOlmos {
    font-size: 50px;
  }
  .comentUrbano2 {
    font-size: 30px;
  }
  .urbanoDos {
    font-size: 60px;
  }
}
@media screen and (max-width: 440px) {
  .imagenNaturaleza1 {
    width: 370px;
    height: 350px;
    text-align: center;
    margin: auto;
  }
  .divImagen2 {
    width: 125px;
    height: 150px;
  }
  .eligeAmbiente {
    font-size: 30px;
  }
  .teRecomendaremos {
    font-size: 25px;
    padding-top: 10px;
  }
  .divUrbanizacion {
    font-size: 30px;
  }
  .comentH5 {
    font-size: 25px;
  }
  .divNaturaleza {
    font-size: 30px;
  }
  .comentNaturaleza {
    font-size: 25px;
  }
  main .sectionUnopaginaseg .naturalezaDos {
    font-size: 48px;
  }
  main .sectionUnopaginaseg .aquiVan {
    font-size: 26px;
  }
  main .sectionUnopaginatre .urbanoDos {
    font-size: 64px;
  }
  main .sectionUnopaginatre .comentUrbano2 {
    font-size: 30px;
  }
  main .sectionDospaginatre .paseoDelbp {
    font-size: 48px;
    padding-top: 32px;
  }
  main .sectionDospaginatre .breveComentpaseodelbp {
    font-size: 24px;
  }
  main .sectionTrespaginatre .patioOlmos {
    font-size: 48px;
    padding-top: 44px;
  }
  main .sectionTrespaginatre .breveComentpatioolmos {
    font-size: 24px;
  }
  main .sectionDospaginacinc .gridInfo .h4Info {
    font-size: 40px;
    padding-top: 0px;
  }
  main .sectionDospaginacinc .gridQson .h5Qes {
    font-size: 28px;
  }
  main .sectionDospaginacinc .gridQson .comentH5qes {
    font-size: 14px;
  }
  main .sectionDospaginacinc .gridQofrece .h5Qofrece {
    font-size: 28px;
  }
  main .sectionDospaginacinc .gridQofrece .comentH5qofrece {
    font-size: 14px;
  }
  main .sectionDospaginacinc .gridQvisitar .h5Qlugares {
    font-size: 28px;
  }
  main .sectionDospaginacinc .gridQvisitar .comentH5qlugares {
    font-size: 14px;
  }
}
@media screen and (max-width: 401px) {
  main .sectionUnopaginacinc .h3Paseodelbp {
    font-size: 35px;
  }
}
@media screen and (max-width: 387px) {
  nav li {
    margin: 0;
    padding-left: 0px;
    display: block;
  }
  .divImagen2 {
    padding: 0px;
    width: 100px;
    height: 125px;
  }
  .imagenNaturaleza1 {
    padding: 0px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 375px) {
  .comentH5 {
    font-size: 20px;
    text-align: center;
  }
  .divUrbanizacion {
    font-size: 15px;
  }
}

/*# sourceMappingURL=cordoba.css.map */
