*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;      
}


$background-color: #BED7DC;

$colorfont: black;




.nav-wrapper{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px grey;

  .logo{
    font-weight: 700;
  }

  ul{
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  a {
    text-decoration: none;
    color: white;
  }

}


nav #toggle, nav label{
  display: none;
}



body{background-color: #171717;}


h1{color: white;
    text-align: center;
    font-size: 60px;
    padding: 1.9375rem}
    h2{color: white;
    text-align: center ;font-size: 2.75rem;
    padding: 1.7rem;}
    h3{color:  white; 
        text-align: center;
    font-size: 2.3rem;
    }
        h4{ color:  white;
        text-align: center;
    font-size: 1.9rem;
    padding: 2.900 rem
    15px;}
    h5{color: white;
    padding: 1.25rem;}
    h6{color: white;}
    p{color: white;
    padding: .9375rem;}
    

    .divImagenes{ display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;}
        
        .estoCba{ font-size: 40px
          ;
      text-align: center;}
        
        
        
 