.bodyIndex{ color: #8E806A;}



 .h4Ubicada{ text-align: center;
  padding-top: 10px;
}



.seccionDospaginapr{ background-color: #8E806A;
padding-bottom: 1.25rem;
.eligeAmbiente{ padding-top: 20px
}
}


.seccionTrespaginapr{ padding: 20px;
;
background-color: #8E806A;
.divImagen2{padding-top: 20px;
  width: 650px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  }
  .divUrbanizacion{ font-size: 60px;
    text-align: center;}

    .comentH5{ font-size: 40px;
      text-align: center;
      margin: 1.875rem;}

      .imagenNaturaleza1 {
        width: 600px;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
      }
      
      .divNaturaleza{font-size: 60px
        ;text-align: center;}

        .comentNaturaleza{font-size: 40px;
          text-align: center;
      padding-bottom: 150px;
      margin: 1.875rem;}
      

}

.acercaNstr{ text-align: center;
font-size: 30px;}