.bodyIndex{ color: #8E806A;}



 .h4Ubicada{ text-align: center;
  padding-top: 15px;
}



.seccionDospaginapr{ background-color: #171717;
padding-bottom: 1.25rem;
.eligeAmbiente{ padding-top: 20px
}
} 


.seccionTrespaginapr{ padding: 10px;
;
background: rgb(23,23,23);
background: linear-gradient(180deg, rgba(23,23,23,1) 26%, rgba(142,128,106,1) 75%);
.divImagen2{padding-top: 20px;
  width: 650px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  }
  .divUrbanizacion{ font-size: 60px;
    text-align: center;}

    .comentH5{ font-size: 33px;
      text-align: center;
      margin: 1.875rem;}

      .imagenNaturaleza1 {
        width: 600px;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
      }
      
      .divNaturaleza{font-size: 60px
        ;text-align: center;}

        .comentNaturaleza{font-size: 34px;
          text-align: center;
      padding-bottom: 150px;
      margin: 1.875rem;}
      

}

.acercaNstr{ text-align: center;
font-size: 30px;}