.sectionUnopaginacuat{ border-bottom: #171717 solid 50px;
    .sierrasH3{ font-size: 60px;
        padding-top: 30px;}
}
.sectionDospaginacuat{ border-bottom: #171717 solid 50px;
    .acercaDe{ font-size: 40px;
        text-align: center;}

        .articuloUnopag4{
            .h5Qson{ font-size: 30px;
                text-align: center;}
                .comentarioH5{ font-size: 20px;
                text-align: center;}
        }
.articuloDospagina4{
    .h5Qofrecen{ font-size: 30px;
        text-align: center;}
        .comentarioQofrecen{ font-size: 20px;
        text-align: center;}
 }
.articuloTrespag4{
    .h5Adonde{ font-size: 30px;
        text-align: center;}
        .comentarioAdonde{ font-size: 20px;
        text-align: center;}
 }

}

.sectionTrespaginacuat{
    .h4Servicios{ font-size: 40px;
        text-align: center;
        padding-top: 30px;}

        .articuloCuatropag4{ 
            .h5Hoteleria{ font-size: 34px;
                text-align: center;}
                .h6Hoteleria{font-size: 19px;
                text-align: center;}
                .comentarioH5hoteleria{ font-size: 24px;
                text-align: center;}
        }
.articuloCincopag4{
    .h5Gastronomia{ font-size: 34px;
        text-align: center;}
        .h6Gastronomia{ font-size: 19px;
        text-align: center;}
        .comentarioH5gastronomia{ font-size: 24px;
        text-align: center;}
}
.articuloSeispag4{
    .h5Transporte{ font-size: 34px;
        text-align: center;}
        .h6Transporte{ font-size: 19px;
        text-align: center;}
        .comentarioH5transporte{ font-size: 24px;
        text-align: center;}
}

}











