@media screen and (max-width: 1440px) {
    .divImagen2 { margin: auto;
 
 border: 0px;}
      .h4Ubicada{ font-size: 23px;
     text-align: center;}
     
 }
     
 @media  screen and (max-width: 1024px) {
     .h4Ubicada { padding-top: 10px
       ;
     }
   }
 
   @media screen and (max-width: 768px) {
     .divImagen2{ width: 300px;
     height: 300px;
   margin: 0 auto;
 padding-bottom: 10px;
padding-left: none;}
 .imagenNaturaleza1{ width: 500px;
 height: 450px;}
   
 }



 @media screen and (max-width: 700px) {
  .divImagen2{ width: 250px;
  height: 300px;
margin: auto;}
   
 }

 
   @media screen and (max-width: 550px) {
   
   a{ font-size: 15px;}
   }
 
 
   @media screen and (max-width: 522px) {
     
   a{ font-size: 15px;}
 
 .divImagen2 { width: 200px;
 padding-right: 40px;}
 .imagenNaturaleza1{ width: 450px;
 height: 400px;
 padding-left: 40px;}
   }
 
   @media screen and (max-width: 476px) {
     
     
   a{ font-size: 13px;
           }
 
   }
 
   @media screen and (max-width: 505px) {
     
     
     a { font-size: 14px;
     
  }
   .navUno{ flex-direction: column;}
     }
 
     @media screen and (max-width: 470px) {
 .imagenNaturaleza1{ width: 400px;
 height: 380px;}
 .divImagen2{ padding-left: 0;
 padding-right: 0;
 width: 150px;
 height: 200px;}
 .divUrbanizacion{ font-size: 50px;}
 .comentH5{ font-size: 40px;}
     .divNaturaleza{ font-size: 50px;}
     .comentNaturaleza{font-size: 40px;}
   
       }
 
        @media screen and (max-width: 460px) {
     
     nav a{ display: block; 
     margin-bottom: 10px;}
 
     a{ font-size: 12px;}
     
   header{ text-align: center;}
 .paseoDelbp{ font-size: 50px;}
 .patioOlmos{font-size: 50px;}
 .comentUrbano2{font-size: 30px;}
 .urbanoDos{font-size: 60px;}
 
     }
 
 
     
     @media screen and (max-width: 440px) {
     .imagenNaturaleza1{ width: 370px;
     height: 350px;
   text-align: center;
 margin: auto;
 padding-right: 40px;}
 .divImagen2{ width: 125px;
 height: 150px;}
     .eligeAmbiente{ font-size: 30px;}
     .teRecomendaremos{ font-size: 25px;
     padding-top: 10px;}
     .divUrbanizacion{ font-size: 40px;
     }
     .comentH5{ font-size: 30px;
     }
     .divNaturaleza{ font-size: 40px;}
     .comentNaturaleza{ font-size: 30px;}
     .naturalezaDos{ font-size: 60px;}
     .aquiVan{ font-size: 34px
       ;}
       }
 
       @media screen and (max-width: 387px) {
        nav li {
        
          margin: 0;
          padding-left: 0px;
          display: block}
     .divImagen2{ padding: 0px;
     width: 100px;
   height: 125px}
     .imagenNaturaleza1{padding: 0px;
     width: 300px;
   height: 300px;}
   .losRios{ font-size: 54px;}
   .lasSierras{ font-size: 54px;
   }
   .divImagenes img {font-size: 10px;}
         }



         @media screen and (max-width: 375px) {
     
     .naturalezaDos{ font-size: 20px;}
 
      }
       
         @media screen and (max-width: 325px) {
           a{ font-size: 10px;
             display: block;
                   }
                   h1 { font: 30px;}
                   h2{ font-size: 35px;
                   padding: 0px;
                 padding-bottom: 10px;}  
                 h3{ font-size: 25px;
                 padding-bottom: 10px;
               }
 .h4Ubicada{ font-size: 14px;}
 .divImagen2{ width: 75px;
 height: 100px;}
 .imagenNaturaleza1{width: 250px;
 height: 250px;}
           }