

 .sectionUnopaginaseg{ border-bottom: #171717  solid 40px;
    .naturalezaDos{ font-size: 80px;}
    .aquiVan{ font-size: 40px;}

}
    .sectionDospaginaseg{border-bottom: #171717 solid 40px;
        .lasSierras{ font-size: 64px;
            padding-top: 320px;}
            .breveComentsierras{ padding-top: 10px;}

    }

.sectionTrespaginaseg{ 
    .losRios{ font-size: 64px
        ;padding-top: 320px;
    }
.breveComentrios{padding-top: 10px;}

}


    
    

