
    .sectionUnopaginatre{ border-bottom: #171717 solid 50px;
        .urbanoDos{ font-size: 76px;
            padding-top:100px;}
            .comentUrbano2{font-size: 36px;}
    }
    
    .sectionDospaginatre{ border-bottom: #171717 solid 50px;
        .paseoDelbp{ font-size: 60px ;
            padding-top: 80px;}
            .breveComentpaseodelbp{ padding-top: 10px;}
    }
    
    .sectionTrespaginatre{ border-bottom: #171717 solid 50px;
        .patioOlmos{ font-size: 60px;
            padding-top: 80px;}
            .breveComentpatioolmos{ padding-top: 10px;}
    }
    
 